.movie-detail-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.movie-detail-backdrop-container {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.movie-detail-backdrop {
  height: 100%;
  object-fit: contain;
}

.movie-detail-poster {
  position: absolute;
  left: 0;
  height: 70%;
  width: 40%;
  object-fit: contain;
  z-index: 2;
}

.movie-detail-text-container {
  position: absolute;
  right: 0;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.movie-detail-original-title {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.movie-detail-genre {
  color: white;
  font-size: 1em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.movie-detail-genre li {
  display: inline;
  margin-right: 10px;
}

.movie-overview {
  color: white;
  font-size: 1.1em;
  max-width: 50%;
  text-align: justify;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 0;
  text-align: center;
  cursor: pointer;
}