.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
}

.pagination-container .prev-page,
.pagination-container .next-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: solid 2px black;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bolder;
}
