.movie-item-container {
  /* border: 2px solid black; */
  margin: 1%;
  width: 23%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

img {
  display: block;
  width: 100%;
}

.movie-btns {
  margin-top: 15px;
}

.btn {
  margin: 10px;
  width: 100px;
  height: 60px;
  border-radius: 15px;
  font-size: large;
}

.btn.like {
  background-color: rgba(255, 0, 0, 0.671);
}

.movie-title {
  margin-top: 15px;
  font-size: x-large;
  font-weight: 900;
}

.release {
  margin: 15px 0px;
  font-weight: 500;
}

.vote-score {
  font-weight: 500;
}

.movie-overview {
  width: 95%;
  margin-top: 15px;
  margin-left: 10px;
  text-align: justify;
}
