.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
  
    &:hover {
      color: #ccc;
    }
  }
  